<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}aam{% endblock %}</title>
	<link rel="stylesheet" href="{{STATIC_URL}}assets/css/main.css" />
	<link rel="stylesheet" href="{{STATIC_URL}}assets/css/style.css" />
</head>

<body>
	<div class="container _content-padding">
		<nav class="button-group">
			<a href="{% url 'knossos_aam_backend:home' %}" class="button {% if request.path == '/' %}active{% endif %}">Home</a>
			<a href="{% url 'knossos_aam_backend:usertime' %}" class="button">Time Overview</a>
			{% if request.session.is_admin %}<a href="{% url 'knossos_aam_backend:employee_work_overview' %}" class="button {% if request.path == '/employee_work_overview' %}active{% endif %}">Employee Work Overview</a>{% endif %}
			{% if request.session.is_admin %}<a href="{% url 'knossos_aam_backend:employee_project_overview' %}" class="button {% if request.path == '/employee_project_overview' %}active{% endif %}">Employee Project Overview</a>{% endif %}
			<a href="{% url 'knossos_aam_backend:logout' %}" class="button">Logout</a>
		</nav>

		{% block main %}{% endblock %}
	</div>

	<script src="{{ STATIC_URL }}assets/js/jquery-3.2.1.min.js"></script>
	{% block script %}{% endblock %}
</body>
</html>