html { box-sizing: border-box }
*, *:before, *:after { box-sizing: inherit }
* { margin: 0; padding: 0 }
img, svg { max-width: 100% }

h1, h2 {
	font-weight: bold;
}

h1 {
	font-size: 28px;
	margin-bottom: 20px;
}

.table input:checked + .checkbox::before {
	height: 6px;
	width: 10px;
}

.table-body > tr > td, .table-head > tr > th {
	padding-top: 8px;
	padding-bottom: 8px;
}

td, thead {
	line-height: 1.5;
}

.container {
	/*width: 800px;*/
	max-width: 90%;
}
.container.-small {width: 320px; }

.row {display: table; }
.row > .col {display: table-cell; }
.col.-middle {vertical-align: middle; }

.popover.-box {
	position: static;
	max-width: 100%;
}
.popover.-box::before, .popover.-box::after, .popover.-box h6::before {display: none; }
.popover h2 {
	font-weight: bold;
	margin: 10px 20px 5px;
}

table.-with-gutter td {padding: 0 20px; }
table.-with-gutter td + td {padding-top: 5px; }
table.-middle td {vertical-align: middle; }

.section-heading {
	margin-bottom: 10px;
	line-height: 29px;
	padding: 0 10px;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
	border: 1px solid #e8c6a0;
	border-bottom-color: #d5b594;
	border-radius: 3px;
	background-image: linear-gradient(to bottom, #feebd1, #fad6ab);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.05);
	color: #465a6b;
	background: #d1ecfe;
	border-color: #a0c9f5 #95bfe5 #91b6dd;
	background-image: linear-gradient(to bottom, #dff2fe, #b0dcfe);
}

.LoginSite {
	background-color: #fff;
}

.two-pane {
	transform: translateZ(1);
}

.two-pane article {
	width: 90%;
}
.two-pane aside {
	margin: 10px;
	top: 0;
	right: 0;
	position: fixed;
}

._full-height {height: 100%; }
._full-width {width: 100%; }
._text-center {text-align: center; }
._text-right {text-align: right; }
._center {margin-left: auto; margin-right: auto; }
._left {margin-left: 0; margin-right: auto; }
._right {margin-left: auto; margin-right: 0; }
._mt-10 {margin-top: 10px;}
._mt-20 {margin-top: 20px;}
._mt-40 {margin-top: 40px;}
._mb-10 {margin-bottom: 10px;}
._content-margin {margin-top: 20px;}
._content-padding {padding: 20px;}