{% extends "layout.html" %}

{% block main %}
<section class="two-pane _content-margin">
	<article>
		{% for project, infolist in projects.items %}
		<h1 class="_mt-40">{{ project.name }}</h1>

		<table class="table" data-project-name="{{ project.name }}">
			<thead class="table-head">
				<tr>
					<th>
						<label class="option">
							<input type="checkbox" onchange="checkAll('{{ project.name }}')">
							<span class="checkbox"></span>
						</label>
					</th>
					<th>Name</th>
					<th>Current Task</th>
					<th>Last Submission</th>
					<th>Work Time</th>
				</tr>
			</thead>

			<tbody class="table-body">
				{% for info in infolist %}
				<tr>
					<td>
						<label class="option">
							<input type="checkbox" data-id="{{ info.username }}" onchange="checkUser(this)">
							<span class="checkbox"></span>
						</label>
					</td>
					<td>{{ info.name }}</td>
					<td>{{ info.task_name }}</td>
					<td>{{ info.work_time }}</td>
					<td>{{ info.last_submit }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endfor %}
	</article>

	<aside>
		<div class="button-dropdown">
			<a href="#" class="button">Move to Project</a>
			<a class="button toggle">More</a>
			<ul class="dropdown">
				{% for project in projects %}
				<li><a href="javascript:void(0)" onclick="moveToProject(this.dataset.project)" data-project="{{ project.name }}">{{ project.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</aside>
</section>
{% endblock %}

{% block script %}
<script src="{{ STATIC_URL }}assets/js/knossos_aam.cookie.js"></script>
<script>
	var checkedUsers = new Set();

	function moveToProject (projectName) {
		$.post({
			url: window.location.href,
			data: JSON.stringify({
				employees: Array.from(checkedUsers),
				project: projectName
			}),
			success: function () {
				window.location.reload(true);
			}
		});
	}

	function checkAll (projectName) {
		$(".table[data-project-name=" + projectName + "] .table-body input").click();
	}

	function checkUser (checkbox) {
		var userId = checkbox.dataset.id;
		checkbox.checked ? checkedUsers.add(userId) : checkedUsers.delete(userId);
	}
</script>
{% endblock %}