<div id="fullpage">
<h1>Submit work on task {{ work.task.name }}</h1>

<script language="javascript">
<!--
function notify() {
    document.getElementById('waitEl').style.display = "inline";
    document.getElementById('formEl').style.display = "none";
}
// -->
</script>
<h1 id="waitEl" style="display: none">Please Wait...</h1>
<div id="formEl">
<form enctype="multipart/form-data" action="{% url 'knossos_aam_backend:changetask' %}" method="post">
    {% csrf_token %}
    <input type="file" value="nml" name="submit_work_file" id="file" /><br>
    <label for="comment">Comment</label>
    <br>
    <textarea id="comment" rows="4" cols="50" name="submit_work_comment"></textarea>
    <br>
    <label for="isfinal">Final submission</label>
    <input type="checkbox" id="isfinal" name="submit_work_isfinal" value=0>
    <br>
    <input type="hidden" name="submit_work_id" value="{{ work.id }}">
    <input type="submit" name="Submit" onclick='notify()' value="Submit">
</form>

<a href="{% url 'knossos_aam_backend:home' %}">Cancel Submission</a>
</div>
</div>
